<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Password Meter</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>

<body ng-app="password_app">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#">Password Meter</a>
        </div>
    </div>
</nav>

<div class="well">
    <div ng-controller="passwordController">
        <div class="page-header container theme-showcase">
            <div class="text-xs-center text-lg-center">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">Avaliador de segurança de senha</div>
                    <div class="panel-footer well well-lg">
                        <input type="{{exibirPassword ? 'text' : 'password'}}" class="form-control" placeholder="Senha" ng-change="passwordAction()"
                               ng-model="form.password"/>
                        <span class="label {{labelPontuacao}}"> {{passwordMetter.pontuacao}}%</span>
                        <span class="label {{labelComplexidade}}"> {{passwordMetter.complexidade}}</span>
                        <div class="pull-right"><input type="checkbox" ng-model="exibirPassword"> exibir senha</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-footer">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Consequencia</th>
                            <th>Quantidade</th>
                            <th>Pontuação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="regra in passwordMetter.regras">
                            <td>{{regra.descricao}}</td>
                            <td>{{regra.tipoRegra}}</td>
                            <td>{{regra.quantidade}}</td>
                            <td>{{regra.pontuacao}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-inverse footer-fixed-top">
    <div class="container">
        <p class="text-muted"></p>
    </div>
</footer>
</body>

<script type="text/javascript" rel="javascript" src="javascripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" rel="javascript" src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" rel="javascript" src="javascripts/angular.min.js"></script>

<script type="text/javascript" rel="javascript" src="app/password-app.js"></script>
</html>